<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <img src="~/logo_paypal_106x29.png" />
    <hr/>
    <div>
        @RenderBody()
    </div>
</body>
</html>
