@{
}
<h2>Payments</h2>
<ul>
    <li>Make a payment with a PayPal account</li>
    <li><a asp-controller="Home" asp-action="Subscribe">Create subscription plan and subscribe</a></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>