@{
}
<h2>Payments</h2>
<ul>
    <li><a asp-controller="Home" asp-action="CreatePayment">Create PayPal Payment</a></li>
    <li><a asp-controller="Home" asp-action="AuthorizePayment">Authorize PayPal Payment to capture later</a></li>
    <li><a asp-controller="Home" asp-action="Subscribe">Create subscription plan and subscribe</a></li>
</ul>