@{
}
<h2>Payments</h2>
<ul>
    <li><a asp-controller="Home" asp-action="Create Payment">Create PayPal Payment</a></li>
    <li><a asp-controller="Home" asp-action="Subscribe">Create subscription plan and subscribe</a></li>
</ul>